page-home {
  .optionsGrid{
    max-width: 600px;
  }

  .companyGrid {
    max-width: 1200px;
  }

  .companyLabel {
    font-size: 1.6em;
  }

  .scoreCol {
    text-align: center;
  }

  .scoreLabel {
    font-size: .9em;
  }

  .score {
    font-size: 1.2em;
    font-weight: bold;
    vertical-align: bottom;
    line-height: 30px;
  }

  .avgScore {
    font-size: 2.2em;
  }

  .companyCard {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 1px 2px 2px #CCCCCC;
  }
  .companyCard ion-row {
    padding: 5px;
  }

  .companyCard:hover {
    cursor: pointer;
    background-color: #F2F2F2;
  }

  .parLogo {
    height: 50px;
    width: 50px;
    float: right;
    margin-top: 10px;
  }

  .infoRow {
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
  }
}
