<ion-header>
  <ion-navbar>
    <ion-title>
        Restaurant Inspections
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let company of companies" justify-content-start class="cardColumn">
                <ion-card class="companyCard" (click)="goToCompanyDetails(company)">
                    <ion-row justify-content-center align-items-center style="height: 100px">
                        <ion-col col-9>
                            <div class="companyLabel">{{company.name}}</div>
                        </ion-col>
                        <ion-col col-3 style="height: 100px" >
                            <img *ngIf="company.parCustomer" class="parLogo" src="assets/logo.png" />
                        </ion-col>
                    </ion-row>

                    <!--<img src="img/advance-card-bttf.png">-->

                    <ion-row style="height: 50px">
                        <ion-col col-4 class="scoreCol">
                            <div class="score {{getScoreClass(company.minScore)}}">{{company.minScore}}</div>
                            <div class="scoreLabel">Min</div>
                        </ion-col>
                        <ion-col col-4 class="scoreCol">
                            <div class="score {{getScoreClass(company.avgScore)}}">{{company.avgScore}}</div>
                            <div class="scoreLabel">Avg</div>
                        </ion-col>
                        <ion-col col-4 class="scoreCol">
                            <div class="score {{getScoreClass(company.maxScore)}}">{{company.maxScore}}</div>
                            <div class="scoreLabel">Max</div>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height: 30px">
                        <ion-col col-12>
                            <ion-note>
                                Updated: 08/14/2018
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
    <div style="font-size: 1.1em; padding: 10px;">
        <div>References</div>
        <div>
            <div><a target="_blank" href="http://www.yelp.com/healthscores#format">Yelp Local Inspector Value-Entry Specification (LIVES)</a></div>
            <div><a target="_blank" href="http://www.yelp.com/healthscores/feeds">Inspection feeds</a></div>
            <div><a target="_blank" href="http://hdscores.com/" >HDScores</a></div>
            <div><a target="_blank" href="http://hazelanalytics.com/">Hazel Analytics</a></div>
        </div>
    </div>
</ion-content>
