page-home {
  .cardColumn {

  }

  .companyLabel {
    font-size: 1.6em;
  }

  .scoreCol {
    text-align: center;
  }

  .scoreLabel {
    font-size: .9em;
  }

  .score {
    font-size: 1.5em;
    font-weight: bold;
  }

  .companyCard {
    min-width: 300px;
    max-width: 300px;
    padding-left: 5px;
  }

  .companyCard:hover {
    cursor: pointer;
    background-color: #F2F2F2;
  }

  .parLogo {
    height: 50px;
    width: 50px;
    float: right;
  }

  .scoreBad {
    color: #FF0000;
  }
  .scoreMeh {
    color: #FFAA00;
  }
  .scoreOK {
    color: #DDDD00;
  }
  .scoreGood {
    color: #00EE00;
  }
}
